* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: rgb(119,193,39);
    background: linear-gradient(0deg, rgba(119,193,39,0.5760898109243697) 16%, rgba(246,147,70,0.578890931372549) 80%);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #000000;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 20px;
    border-radius: none;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #e77d0ce8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;

}

li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 17px;
    padding: 12px 0px 12px 14px;
    user-select: none;
    cursor: pointer;
    background-color: rgb(189, 209, 37);

}


ul li.checked {
    list-style: none;
    font-size: 17px;
    padding: 12px 0px 12px 24px;
    user-select: none;
    cursor: pointer;
    text-decoration: line-through;
    background-color: white;
    opacity: 70%;
}

ul li.checked::before {
    content: '';
    position: relative;
    border-color: #000000;
    border-style: solid;
    border-width: 0px 3px 3px 0;
    left: -10px;
    transform: rotate(45deg);
    height: 15px;
    width: 10px;
    display: inline-block;
}


.close {
    position: absolute;
    text-align: center;
}
  
.close:hover {
    background-color: #dfdfdf;

}
